
.search-container{
    grid-area: s;

    background-color: rgb(41, 45, 46);
    color: white;

    #title{
        font-size: 36px;
        margin: 20px 200px 0px 120px;
        width: 600px;
        float: left;
    }
    input{
        font-size: 32px;
        margin-top: 16px;
    }
    button{
        font-size: 32px;
        margin-top: 16px;
    }
}
.repos-container{
    grid-area: r;
}
.issues-container{
    grid-area: i;
}

