@import './node_modules/reset-css/sass/reset';
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');


#app{
    display: grid;
    grid-template-columns: 100px repeat(2, 1fr) 100px;
    grid-column-gap: 30px;
    grid-template-rows: 80px auto;
    grid-row-gap: 30px;
    grid-template-areas: 
        "s s s s"
        ". r i .";

    font-family: 'Montserrat', sans-serif;
}